# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
/media
/staticfiles

# Environment variables and secrets
.env
.env.*
*.env
*.secret

# Virtual environments
venv/
ENV/
env/
.venv/

# VSCode settings
.vscode/

# System files
.DS_Store        # macOS
Thumbs.db        # Windows
ehthumbs.db
Desktop.ini

# Coverage and testing
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# pip-tools
*.txt~
__pypackages__/
